[submodule "include/tunasync-scripts"]
	path = include/tunasync-scripts
	url = https://github.com/tuna/tunasync-scripts.git
[submodule "include/ustcmirror-images"]
	path = include/ustcmirror-images
	url = https://github.com/ustclug/ustcmirror-images.git
